.spinner-text {
    position: absolute;
    top: 55vh;
    left: 43vw;
    z-index: 1;
    font-weight: bold;
    font-size: 1.8rem;
    color: rgb(0, 112, 210);
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 3px 3px 8px rgb(106, 155, 197);
    }
    100% {
        text-shadow: 5px 5px 14px rgb(63, 137, 201);
        opacity: 0.7;
    }
}